# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [ ]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
df = pd.read_csv("telecom_customer_churn.csv")
#2. change the settings to display all the columns
#3. check the number of rows and columns
#4. check the top 5 rows

In [4]:
df.shape

(7043, 21)

In [5]:
df.head(5)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
#display all the column names

df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [11]:
# Check if the dataset contains nulls

df.isna().any()

customer_id          False
gender               False
senior_citizen       False
partner              False
dependents           False
tenure               False
phone_service        False
multiple_lines       False
internet_service     False
online_security      False
online_backup        False
device_protection    False
tech_support         False
streaming_tv         False
streaming_movies     False
contract             False
paperless_billing    False
payment_method       False
monthly_charges      False
total_charges        False
churn                False
dtype: bool

In [16]:
#check the datatype of all columns
df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

In [21]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)


df['monthly_charges'] = pd.to_numeric(df['monthly_charges'], errors='coerce')

# Convert 'total_charges' column to numeric
df['total_charges'] = pd.to_numeric(df['total_charges'], errors='coerce')

# Convert 'tenure' column to numeric
df['tenure'] = pd.to_numeric(df['tenure'], errors='coerce')

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [22]:
print(df["monthly_charges"].mean())
print(df["monthly_charges"].median())
print(df["monthly_charges"].mode())

64.76169246059918
70.35
0    20.05
Name: monthly_charges, dtype: float64

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [33]:
percentile_25th = df['total_charges'].quantile(0.25)
percentile_50th = df['total_charges'].quantile(0.50)
percentile_75th = df['total_charges'].quantile(0.75)

print("25th percentile:", percentile_25th)
print("50th percentile (median):", percentile_50th)
print("75th percentile:", percentile_75th)

25th percentile: 401.45
50th percentile (median): 1397.475
75th percentile: 3794.7375

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [34]:
df["monthly_charges"].max() - df["monthly_charges"].min()

100.5

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [35]:
df_new_1 = df[df.churn == "No"]
percentile_25th = df_new_1['monthly_charges'].quantile(0.25)
percentile_25th

25.1

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [36]:
df_new_1 = df[df.churn == "Yes"]
percentile_75th = df_new_1['total_charges'].quantile(0.75)
percentile_75th

2331.3

Q6-  What is the mode of the payment method column for customers who have churned?

In [30]:
df_new = df[df.churn == "Yes"]
df_new["payment_method"].mode()

0    Electronic check
Name: payment_method, dtype: object

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [40]:
# Filter the rows based on the churn status and contract type
df_new_3 = df[df.churn == "Yes"]
df_new_3 = df_new_3[df.contract == "Month-to-month"]
df_new_3["total_charges"].mean()
# Calculate the mean of the total charges column


# Print the result

<ipython-input-40-c5caea072d1c>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_new_3 = df_new_3[df.contract == "Month-to-month"]

1164.4605740181269

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [43]:
# Filter the rows based on the churn status and contract type

df_new_4 = df[df.churn == "No"]
df_new_4 = df_new_4[df.contract == "Two year"]
df_new_4["total_charges"].median()
# Calculate the median of the tenure column


# Print the result

<ipython-input-43-e63f805b053c>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_new_4 = df_new_4[df.contract == "Two year"]

3527.0